[Unit]
Description=Node Exporter
After=network.target

[Service]
User=fil
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.textfile.directory="/home/fil/prometheus/run"

[Install]
WantedBy=multi-user.target