- hosts: amd
  remote_user: '{{ remote_user }}'
  become: yes
  become_user: root
  become_method: sudo
  vars:
    - lotus_bin_path: 'lotus-bin'
    - version: '1.5.0'
    - platform: 'amd'
  tasks:
    - name: Copy lotus bin to all amd
      copy:
        src: '{{ item }}'
        dest: '/usr/local/bin/'
        mode: +x
      loop:
        - '{{ workspace }}/{{ lotus_bin_path }}/{{ version }}/{{ platform }}/lotus'
        - '{{ workspace }}/{{ lotus_bin_path }}/{{ version }}/{{ platform }}/lotus-miner'
        - '{{ workspace }}/{{ lotus_bin_path }}/{{ version }}/{{ platform }}/lotus-worker'
        - '{{ workspace }}/{{ lotus_bin_path }}/{{ version }}/{{ platform }}/lotus-shed'